In [1]:
from mylibs import stats as st
from mylibs import resample as rs
from mylibs import linear_model as lm
from mylibs import metrics as ms
from mylibs import transform as tm
import numpy as np
import pandas as pd
import importlib 
from sklearn import linear_model

In [2]:
importlib.reload(st)
importlib.reload(rs)
importlib.reload(lm)
importlib.reload(ms)

In [3]:
# np.random.seed(0)
# x = np.random.rand(20)
# x = (x *100).round(2)
# x = np.resize(x,(20,1))

In [4]:
# x_norm = tm.normalize(x)

In [5]:
# x_std = tm.standardize(x)

In [6]:
data = pd.read_csv("winequality-red.csv",delimiter=';')

In [7]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
data.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [9]:
n_lin = data.shape[0]

In [10]:
a = rs.split_k_fold(10,5)

[4, 9, 1, 6, 7, 3, 0, 5]
[2, 8]
[2, 8, 1, 6, 7, 3, 0, 5]
[4, 9]
[2, 8, 4, 9, 7, 3, 0, 5]
[1, 6]
[2, 8, 4, 9, 1, 6, 0, 5]
[7, 3]
[2, 8, 4, 9, 1, 6, 7, 3]
[0, 5]

In [11]:
a

(array([[4, 9, 1, 6, 7, 3, 0, 5],
        [2, 8, 1, 6, 7, 3, 0, 5],
        [2, 8, 4, 9, 7, 3, 0, 5],
        [2, 8, 4, 9, 1, 6, 0, 5],
        [2, 8, 4, 9, 1, 6, 7, 3]]), array([[2, 8],
        [4, 9],
        [1, 6],
        [7, 3],
        [0, 5]]))